<div class="company box {% if include['company']['jobs'] %}has-ribbon{% endif %}">
  {% if include['company']['jobs'] %}
  <div class="ribbon is-warning"><b>Hiring!</b></div>
  {% endif %}
  <div class="content has-text-centered">
    <p class="title is-4 thin">{{include['company']['name']}}</p>
  </div>
  <div class="content company-info has-text-left">
    <p class="is-size-7">
      <span class="icon purple"><i class="fas fa-fw fa-cogs"></i></span> {{include['company']['industry']}}<br>
    {% if include['company']['url'] %}
      <span class="icon purple"><i class="fas fa-fw fa-globe"></i></span> <a target="_blank" href="{{include['company']['url']}}">{{include['company']['url'] | replace: "http://", "" | replace: "https://", "" | replace: "www.", ""}}</a><br>
    {% endif %}
    {% if include['company']['blog'] %}
      <span class="icon purple"><i class="fas fa-fw fa-lightbulb"></i></span> <a target="_blank" href="{{include['company']['blog']}}">{{include['company']['blog'] | replace: "http://", "" | replace: "https://", "" | replace: "www.", ""}}</a><br>
    {% endif %}
    {% if include['company']['github'] %}
      <span class="icon purple"><i class="fab fa-fw fa-github"></i></span> <a target="_blank" href="{{include['company']['github']}}">GitHub</a><br>
    {% endif %}
    {% if include['company']['location'] %}
      <span class="icon purple"><i class="fas fa-fw fa-location-arrow"></i></span> {{include['company']['location']}}<br>
    {% endif %}
    {% for job in include['company']['jobs'] %}
      <span class="icon purple"><i class="fas fa-briefcase"></i></span> <a href="{{ job['url'] }}">{{ job['title'] }}</a><br> 
    {% endfor %}
    </p>
  </div>
  <div class="content is-size-7 has-text-centered">
    {{ include['company']['description'] | markdownify }}
  </div>
</div>
