# Astro
dist/
.astro/
node_modules/

# OS
.DS_Store
._*
.Spotlight-V100
.Trashes
*~

# Editor
.vscode/
.idea/
*.swp
*.swo
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
Session.vim
[._]*.un~
tags

# Env
.env
.env.*

# Context (conductor)
.context/
