<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title has-text-centered">Edit Job</h1>

            <%= render "form.html", Map.put(assigns, :action, Routes.job_path(@conn, :update, @job)) %>
        </div>
    </div>
</div>
