<div class="container">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h1 class="has-text-centered is-size-2">New Job for <%= @company.name %></h1>

      <%= render "form.html", Map.put(assigns, :action, Routes.job_path(@conn, :create)) %>

      <span><%= link "Back", to: Routes.company_path(@conn, :recent) %></span>
    </div>
  </div>
</div>


