<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <h1 class="title has-text-centered">New Job for <%= @company.name %></h1>

      <%= render "form.html", Map.put(assigns, :action, Routes.job_path(@conn, :create)) %>
    </div>
  </div>
</div>
