<h1><%= gettext("Show Job") %></h1>

<ul>

  <li>
    <strong><%= gettext("Title:") %></strong>
    <%= @job.title %>
  </li>

  <li>
    <strong><%= gettext("Url:") %></strong>
    <%= @job.url %>
  </li>

  <li>
    <strong><%= gettext("Remote:") %></strong>
    <%= @job.remote %>
  </li>

</ul>

<span><%= link gettext("Edit"), to: Routes.job_path(@conn, :edit, locale(@conn), @job) %></span>
<span><%= link gettext("Back"), to: Routes.job_path(@conn, :index, locale(@conn)) %></span>
