<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% asset apple-touch-icon.png @path %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon-32x32.png @path %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon-16x16.png @path %}">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="{% asset safari-pinned-tab.svg @path %}" color="#5bbad5">
    {% asset style.css %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% if site.analytics-id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics-id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.analytics-id }}');
      </script>
    {% endif %}
  </head>
  <body>
    {% include _nav.html %}
    {{ content }}
    {% asset main.js %}
    {% include _footer.html %}
  </body>
</html>
