/* This file is for your main application css. */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto+Slab:400,700');
$purple: #4A365F;
$grey-dark: #3d4449;

$family-primary: 'Open Sans', sans-serif;
$text: $grey-dark;
$text-light: lighten($text, 20%);
$text-strong: darken($text, 5%);

$link: lighten($purple, 10%);
$link-visited: darken($purple, 5%);
$link-hover: lighten($purple, 30%);
$link-focus: $link-hover;
$link-active: $link-hover;
$primary: $link;
$footer-background-color: $link;

@import "bulma";
@import "libs/_mixins";
@import "libs/_ribbon";

html {
  background-attachment:  fixed, fixed;
  background-image:       asset_url("overlay.png"),	asset_url("paper_fibers.png");

  body {
    @include font-smoothing(on);
  }

  body, input, select, textarea {
    line-height: 1.35em;
  }

  footer {
    color: #fff;

    a {
      color: findColorInvert($primary);
    }

    strong {
      color: #fff;
    }
  }

  .purple-bg {
    background-color: $link;
    color: #fff !important;
  }

  .purple {
    color: $link-hover;
  }

  .title {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    &.fancy {
      padding-bottom: 10px;
      border-bottom: 5px solid $link-hover;
    }
    &.thin {
      font-weight: 400;
    }
  }

  .subtitle{
    font-family: "Roboto Slab", serif;
  }

  .burger {
    color: $grey-dark;
  }

  .navbar-item{
    font-size: 1em;
  }

  .controls {
    box-sizing: initial !important;
  }

  .box {
    &.company {
      min-height: 350px;
      max-height: 350px;
      overflow: auto;
    }

    .company-info {
      padding: 10px 0px;
      border-bottom: 1px solid $grey-lighter;
      border-top: 1px solid $grey-lighter;
    }
  }

  form {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
  }
}
