.not_found {
  position: absolute;
  top: 50%;
  margin-left: 50%;
  padding: 0.5rem 0.75rem;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  color: $purple;

  &-code {
    font-size: 10.8em;
    font-weight: bold;
    line-height: 1.25;
  }

  &-text {
    font-size: 1.8em;
    line-height: 1.25;
  }
}
