<section class="section">
  <div class="container">
    <div class="is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen">
      <%= render "card.html", company: @company, conn: @conn %>
    </div>
  </div>
</section>