<h1>Show Job</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @job.title %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @job.url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", to: Routes.job_path(@conn, :index) %></span>
